{{ eventRegistrationRequirementsForm.value | json }}

<div
	class="modal"
	[ngClass]="{
		'modal-open': event?._id
	}"
>
	<div
		class="modal-box relative min-w-full min-h-screen mx-0 rounded-none lg:min-w-max lg:min-h-fit lg:rounded-lg lg:mx-auto lg:max-w-screen-md"
	>
		<h3 class="font-bold text-lg">
			Participate in "<span class="font-semibold capitalize">{{
				event?.name
			}}</span
			>"
		</h3>
		<form [formGroup]="eventRegistrationRequirementsForm" class="py-4 w-full">
			<div formArrayName="eventRequirementField" class="w-full">
				<div
					class="form"
					*ngFor="
						let form of $any(
							eventRegistrationRequirementsForm.get('eventRequirementField')
						)?.controls;
						let index = index
					"
					[formGroupName]="index"
				>
					<div class="form-control w-full">
						<label class="label">
							<span class="label-text font-bold text-md">{{
								form.get('question')?.value
							}}</span>
						</label>
						<div class="relative">
							<input
								class="input input-bordered"
								formControlName="answer"
								type="text"
								placeholder="Enter your answer..."
								[ngClass]="{
									'input-error':
										(form.get('answer')?.invalid &&
											form.get('answer')?.touched) ||
										messages['general']
								}"
							/>
						</div>
						<div class="label">
							<label
								class="label-text-alt text-error"
								*ngIf="
									form.get('answer')?.invalid && form.get('answer')?.touched
								"
							>
								<ng-container *ngIf="form.get('answer')?.hasError('required')">
									Answer is required
								</ng-container>
								<ng-container *ngIf="form.get('answer').hasError('maxlength')">
									Answer must be less than
									{{ form.get('answer').getError('maxlength').requiredLength }}
									characters but yours is of
									{{ form.get('answer').getError('maxlength').actualLength }}
								</ng-container>
							</label>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="mb-3" *ngIf="event?.eventType === 'team'">
			<div class="form-control">
				<label class="cursor-pointer label justify-start gap-2">
					<input
						type="checkbox"
						class="checkbox checkbox-primary"
						[(ngModel)]="allowMajorityRegistration"
					/>
					<span class="label-text"
						>Allow registration if 60% of participants are available?</span
					>
				</label>
			</div>
		</div>
		<div class="label flex-wrap">
			<label
				class="label-text-alt text-lg text-error flex-wrap"
				*ngIf="messages['general']"
			>
				{{ messages['general'] }}
			</label>
		</div>
		<div class="modal-action gap-2">
			<button (click)="emitOnClose()" class="btn">Close</button>
			<button
				class="btn-success btn"
				[disabled]="
					requestInProgress || eventRegistrationRequirementsForm.invalid
				"
				(click)="onSubmit()"
			>
				<fa-icon *ngIf="requestInProgress" [icon]="faSpinner"></fa-icon>
				<span>Participate</span>
			</button>
		</div>
	</div>
</div>
