<!-- Put this part before </body> tag -->
<input type="checkbox" id="registration-modal" class="modal-toggle" />
<label for="registration-modal" class="modal cursor-pointer">
	<label class="modal-box relative" for="">
		<h3 class="text-lg font-bold">Event Registration Links</h3>
		<div class="py-4">
			<ul>
				<li *ngFor="let link of eventRegistrationLinks">
					<a href="{{ link.link }}" target="_blank" class="text-blue-500">{{
						link.eventName
					}}</a>
				</li>
			</ul>
		</div>
	</label>
</label>
