<div class="drawer min-h-screen">
	<input id="navigation-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content min-h-screen">
		<app-navbar></app-navbar>
		<main class="min-h-screen">
			<router-outlet></router-outlet>
		</main>
	</div>
	<div class="drawer-side">
		<label for="navigation-drawer" class="drawer-overlay"></label>
		<ul class="menu p-4 w-80 bg-base-100 text-base-content">
			<li class="grid">
				<label for="navigation-drawer" class="justify-self-end w-max">
					X
				</label>
			</li>
			<ng-container *ngFor="let link of links">
				<li
					*ngIf="
						link.forLoggedIn === 'both' ||
						((isLoggedIn$ | async) === false && link.forLoggedIn === false) ||
						((isLoggedIn$ | async) === true &&
							link.forRoles.includes((user$ | async)?.roles))
					"
				>
					<a
						class="gap-2 rounded-lg"
						[ngClass]="{
							btn: link.isBtn,
							'btn-secondary': link.isBtn && link.isBtnHighlight,
							'btn-ghost': link.isBtn && !link.isBtnHighlight
						}"
						[routerLink]="link.link"
						*ngIf="!link.hidden"
					>
						<fa-icon [icon]="link.icon"></fa-icon>
						{{ link.title }}
					</a>
				</li>
			</ng-container>
			<ng-container *ngIf="isLoggedIn$ | async">
				<li>
					<button
						(click)="logOut()"
						class="gap-2 rounded-lg btn-ghost hover:btn-primary-focus"
					>
						<fa-icon [icon]="faRightFromBracket"></fa-icon>
					</button>
				</li>
			</ng-container>
		</ul>
	</div>
</div>

<app-alert-dialog></app-alert-dialog>
