<div class="bg-base-100">
	<div class="navbar max-w-screen-xl mx-auto py-4">
		<div class="navbar-start">
			<a class="btn btn-ghost normal-case text-xl gap-2 items-center min-h-max">
				<img src="/assets/images/logo.webp" class="w-24 h-full" />
			</a>
		</div>
		<div class="navbar-end hidden lg:flex">
			<ul class="menu menu-horizontal px-1">
				<li *ngFor="let link of links">
					<a [href]="link.path">{{ link.name }}</a>
				</li>
			</ul>
		</div>
		<div class="navbar-end hidden">
			<div class="dropdown dropdown-end">
				<label [tabindex]="0" class="btn btn-ghost btn-circle">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h7"
						/>
					</svg>
				</label>
				<ul
					[tabindex]="0"
					class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
				>
					<ng-container *ngFor="let link of links">
						<li>
							<a [href]="link.path">{{ link.name }}</a>
						</li>
					</ng-container>
				</ul>
			</div>
		</div>
	</div>
</div>
