<div class="card bg-base-100 border">
	<div class="card-body">
		<div>
			<h2 class="card-title">Join a team</h2>
			<p>If a dog chews shoes whose shoes does he choose?</p>
		</div>
		<div class="divider">OR</div>
		<div class="flex items-center justify-center">
			<button class="btn btn-primary" (click)="setCreateTeamModel(true)">
				Create a team
			</button>
		</div>
	</div>
</div>

<app-create-team
	(onShowModel)="setCreateTeamModel($event)"
	[showModel]="showCreateTeamModel"
></app-create-team>
