<div class="card bg-base-100 border relative">
	<app-spinner *ngIf="requestInProgress"></app-spinner>
	<div class="card-body" *ngIf="team?.teamName">
		<h2 class="card-title">Team Details</h2>
		<div class="py-4">
			<div class="flex items-center m-2">
				<div class="flex-1">
					<h3 class="card-subtitle font-bold">Team Name</h3>
					<p class="card-text capitalize text-gray-500">
						{{ team.teamName }}
					</p>
				</div>
				<div class="flex-1">
					<h3 class="card-subtitle font-bold">Team Code</h3>
					<p class="card-text uppercase text-gray-500">
						{{ team.teamID }}
					</p>
				</div>
			</div>
			<div class="flex items-center m-2">
				<div class="flex-1">
					<h3 class="card-subtitle font-bold">Team Leaders Detail:</h3>
					<p class="card-text text-gray-500">Name: {{ team.leader.name }}</p>
					<p class="card-text text-gray-500">Email: {{ team.leader.email }}</p>
					<p class="card-text text-gray-500">
						Phone Number: {{ team.leader.countryCode }}
						{{ team.leader.phoneNumber }}
					</p>
				</div>
			</div>
			<div class="flex items-center m-2">
				<div class="flex-1">
					<h3 class="card-subtitle font-bold">Team Members:</h3>
					<div class="card-text text-gray-500" *ngIf="!team.teamMembers.length">
						No members yet
					</div>
					<div
						class="card-text text-gray-500 flex"
						*ngIf="team.teamMembers.length"
					>
						<div class="flex-1" *ngFor="let member of team.teamMembers">
							<h3 class="card-subtitle font-bold">Team Member 1:</h3>
							<p class="card-text text-gray-500">Name: {{ member.name }}</p>
							<p class="card-text text-gray-500">Email: {{ member.email }}</p>
							<p class="card-text text-gray-500">
								Phone Number: {{ member.countryCode }}
								{{ member.phoneNumber }}
							</p>
						</div>
						<div class="divider"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body" *ngIf="!team.teamName">
		<div>
			<h2 class="card-title">Join a team</h2>
			<form [formGroup]="joinTeamForm" (ngSubmit)="onSubmit()">
				<div class="form-control mt-3">
					<div class="input-group">
						<input
							type="text"
							formControlName="teamID"
							class="input input-bordered w-full"
							placeholder="Enter team code"
							[ngClass]="{
								'input-error':
									(joinTeamForm.controls.teamID.touched ||
										joinTeamForm.controls.teamID.dirty) &&
									joinTeamForm.controls.teamID.invalid
							}"
						/>
						<button class="btn btn-primary min-w-min max-w-min" type="submit">
							Send Request
						</button>
					</div>
					<div
						class="label text-error"
						*ngIf="
							((joinTeamForm.controls.teamID.touched ||
								joinTeamForm.controls.teamID.dirty) &&
								joinTeamForm.controls.teamID.invalid) ||
							messages['teamID'] ||
							messages['general']
						"
					>
						<div *ngIf="messages['teamID']">
							{{ messages['teamID'] }}
						</div>
						<div *ngIf="messages['general']">
							{{ messages['general'] }}
						</div>
						<div *ngIf="joinTeamForm.controls.teamID.hasError('required')">
							Team code is required
						</div>
						<div *ngIf="joinTeamForm.controls.teamID.hasError('minlength')">
							Team code must be 3 characters long
						</div>
						<div *ngIf="joinTeamForm.controls.teamID.hasError('maxlength')">
							Team code cannot be more than 10 characters long
						</div>
						<div *ngIf="joinTeamForm.controls.teamID.hasError('pattern')">
							Team code must be alphanumeric and it cannot contain spaces or
							special characters
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="divider">OR</div>
		<div class="flex items-center justify-center">
			<button class="btn btn-primary" (click)="setCreateTeamModel(true)">
				Create a team
			</button>
		</div>
	</div>
	<div
		*ngIf="!team?._id && teamJoinRequest?._id"
		class="absolute bg-gray-100/50 top-0 bottom-0 left-0 right-0 flex items-center flex-col justify-center"
	>
		<div class="text-center">
			<fa-icon [icon]="faLock" class="text-3xl"></fa-icon>
			<h3 class="card-subtitle font-bold">Your request has been sent</h3>
		</div>
	</div>
</div>

<app-create-team
	(onShowModel)="setCreateTeamModel($event)"
	[showModel]="showCreateTeamModel"
></app-create-team>
