<app-spinner *ngIf="requestInProgress"></app-spinner>
<div class="modal" [ngClass]="{ 'modal-open': showModel }">
	<form
		[formGroup]="createForm"
		class="modal-box relative w-screen h-screen rounded-none lg:rounded-lg lg:max-w-screen-md lg:h-fit"
		(ngSubmit)="onSubmit()"
	>
		<button
			(click)="emitShowModel(false)"
			for="my-modal-3"
			class="btn btn-sm btn-outline border-0 btn-circle absolute right-2 top-2"
		>
			✕
		</button>
		<h3 class="font-bold text-lg">Create Event</h3>
		<div class="py-4">
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Event Id</span>
				</label>
				<input
					type="text"
					class="input input-bordered w-full"
					formControlName="eventId"
					[ngClass]="{
						'input-error':
							(createForm.controls['eventId'].invalid &&
								(createForm.controls['eventId'].dirty ||
									createForm.controls['eventId'].touched)) ||
							messages['eventId']
					}"
				/>
				<div
					*ngIf="
						(createForm.controls['eventId'].invalid &&
							(createForm.controls['eventId'].dirty ||
								createForm.controls['eventId'].touched)) ||
						messages['eventId']
					"
					class="label text-error"
				>
					<div *ngIf="messages['eventId']">
						{{ messages['eventId'] }}
					</div>
					<div *ngIf="createForm.get('eventId')?.hasError('required')">
						Event ID is required.
					</div>
					<div *ngIf="createForm.get('eventId')?.hasError('pattern')">
						Event ID can only contain A-Z 0-9 and underscores
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Event Name</span>
				</label>
				<input
					type="text"
					class="input input-bordered w-full"
					formControlName="name"
					[ngClass]="{
						'input-error':
							(createForm.controls['name'].invalid &&
								(createForm.controls['name'].dirty ||
									createForm.controls['name'].touched)) ||
							messages['name']
					}"
				/>
				<div
					*ngIf="
						(createForm.controls['name'].invalid &&
							(createForm.controls['name'].dirty ||
								createForm.controls['name'].touched)) ||
						messages['name']
					"
					class="label text-error"
				>
					<div *ngIf="messages['name']">
						{{ messages['name'] }}
					</div>
					<div *ngIf="createForm.get('name')?.hasError('required')">
						Event Name is required.
					</div>
					<div *ngIf="createForm.get('name')?.hasError('pattern')">
						Event ID can only contain A-Z 0-9 and underscores
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Event Type</span>
				</label>
				<select
					formControlName="eventType"
					class="select select-bordered"
					[ngClass]="{
						'select-error':
							(createForm.controls['eventType'].invalid &&
								(createForm.controls['eventType'].dirty ||
									createForm.controls['eventType'].touched)) ||
							messages['eventType']
					}"
				>
					<option
						*ngFor="let type of eventType"
						[value]="type"
						class="capitalize"
					>
						{{ type }}
					</option>
				</select>
				<div
					*ngIf="
						(createForm.controls['eventType'].invalid &&
							(createForm.controls['eventType'].dirty ||
								createForm.controls['eventType'].touched)) ||
						messages['eventType']
					"
					class="label text-error"
				>
					<div *ngIf="messages['eventType']">
						{{ messages['eventType'] }}
					</div>
					<div *ngIf="createForm.get('eventType')?.hasError('invalid_value')">
						{{
							createForm.get('eventType')?.getError('invalid_value')?.message
						}}
					</div>
					<div *ngIf="createForm.get('eventType')?.hasError('required')">
						Event Type is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Venue</span>
				</label>
				<input
					type="text"
					class="input input-bordered w-full"
					formControlName="venue"
					[ngClass]="{
						'input-error':
							(createForm.controls['venue'].invalid &&
								(createForm.controls['venue'].dirty ||
									createForm.controls['venue'].touched)) ||
							messages['venue']
					}"
				/>
				<div
					*ngIf="
						(createForm.controls['venue'].invalid &&
							(createForm.controls['venue'].dirty ||
								createForm.controls['venue'].touched)) ||
						messages['venue']
					"
					class="label text-error"
				>
					<div *ngIf="messages['venue']">
						{{ messages['venue'] }}
					</div>
					<div *ngIf="createForm.get('venue')?.hasError('required')">
						Event venue is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Registration Closes On</span>
				</label>
				<input
					type="date"
					class="input input-bordered w-full"
					formControlName="registrationClosesOn"
					[ngClass]="{
						'input-error':
							(createForm.controls['registrationClosesOn'].invalid &&
								(createForm.controls['registrationClosesOn'].dirty ||
									createForm.controls['registrationClosesOn'].touched)) ||
							messages['registrationClosesOn']
					}"
					[min]="todaysDate | date : 'yyyy-MM-dd'"
				/>
				<div
					*ngIf="
						(createForm.controls['registrationClosesOn'].invalid &&
							(createForm.controls['registrationClosesOn'].dirty ||
								createForm.controls['registrationClosesOn'].touched)) ||
						messages['registrationClosesOn']
					"
					class="label text-error"
				>
					<div *ngIf="messages['registrationClosesOn']">
						{{ messages['registrationClosesOn'] }}
					</div>
					<div
						*ngIf="createForm.get('registrationClosesOn')?.hasError('required')"
					>
						'Registration Closes On' is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Event Starts On</span>
				</label>
				<input
					type="date"
					class="input input-bordered w-full"
					formControlName="commencementDate"
					[ngClass]="{
						'input-error':
							(createForm.controls['commencementDate'].invalid &&
								(createForm.controls['commencementDate'].dirty ||
									createForm.controls['commencementDate'].touched)) ||
							messages['commencementDate']
					}"
					[min]="todaysDate | date : 'yyyy-MM-dd'"
				/>
				<div
					*ngIf="
						(createForm.controls['commencementDate'].invalid &&
							(createForm.controls['commencementDate'].dirty ||
								createForm.controls['commencementDate'].touched)) ||
						messages['commencementDate']
					"
					class="label text-error"
				>
					<div *ngIf="messages['commencementDate']">
						{{ messages['commencementDate'] }}
					</div>
					<div *ngIf="createForm.get('commencementDate')?.hasError('required')">
						'Registration Closes On' is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Description</span>
				</label>
				<textarea
					class="textarea textarea-bordered"
					placeholder="Description"
					formControlName="description"
					[ngClass]="{
						'input-error':
							(createForm.controls['description'].invalid &&
								(createForm.controls['description'].dirty ||
									createForm.controls['description'].touched)) ||
							messages['description']
					}"
				></textarea>
				<div
					*ngIf="
						(createForm.controls['description'].invalid &&
							(createForm.controls['description'].dirty ||
								createForm.controls['description'].touched)) ||
						messages['description']
					"
					class="label text-error"
				>
					<div *ngIf="messages['description']">
						{{ messages['description'] }}
					</div>
					<div *ngIf="createForm.get('description')?.hasError('maxlength')">
						Description cannot exceed
						{{ createForm.get('description')?.getError('maxlength') | json }}
					</div>
					<div *ngIf="createForm.get('description')?.hasError('required')">
						Description is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Event Batch Number</span>
				</label>
				<input
					type="number"
					class="input input-bordered w-full"
					formControlName="eventBatch"
					[ngClass]="{
						'input-error':
							(createForm.controls['eventBatch'].invalid &&
								(createForm.controls['eventBatch'].dirty ||
									createForm.controls['eventBatch'].touched)) ||
							messages['eventBatch']
					}"
					[min]="0"
				/>
				<div
					*ngIf="
						(createForm.controls['eventBatch'].invalid &&
							(createForm.controls['eventBatch'].dirty ||
								createForm.controls['eventBatch'].touched)) ||
						messages['eventBatch']
					"
					class="label text-error"
				>
					<div *ngIf="messages['eventBatch']">
						{{ messages['eventBatch'] }}
					</div>
					<div *ngIf="createForm.get('eventBatch')?.hasError('min')">
						Event Batch Number cannot be less than 0
					</div>
					<div *ngIf="createForm.get('eventBatch')?.hasError('required')">
						Event Batch Number is required.
					</div>
				</div>
			</div>
			<div class="form-control mb-3">
				<label class="label">
					<span class="label-text">Rules and Regulations PDF URL</span>
				</label>
				<input
					type="text"
					class="input input-bordered w-full"
					formControlName="moreInformationPdf"
					[ngClass]="{
						'input-error':
							(createForm.controls['moreInformationPdf'].invalid &&
								(createForm.controls['moreInformationPdf'].dirty ||
									createForm.controls['moreInformationPdf'].touched)) ||
							messages['moreInformationPdf']
					}"
				/>
				<div
					*ngIf="
						(createForm.controls['moreInformationPdf'].invalid &&
							(createForm.controls['moreInformationPdf'].dirty ||
								createForm.controls['moreInformationPdf'].touched)) ||
						messages['moreInformationPdf']
					"
					class="label text-error"
				>
					<div *ngIf="messages['moreInformationPdf']">
						{{ messages['moreInformationPdf'] }}
					</div>
					<div
						*ngIf="createForm.get('moreInformationPdf')?.hasError('required')"
					>
						"Event Rules and Regulation PDF URL" is required.
					</div>
				</div>
			</div>
		</div>
		<div class="label block">
			<div class="label-text text-success">
				{{ messages['success'] }}
			</div>
			<div class="label-text text-error">
				{{ messages['general'] }}
			</div>
		</div>
		<div class="modal-action gap-2">
			<button class="btn btn-outline" (click)="emitShowModel(false)">
				Close
			</button>
			<button class="btn btn-success" type="submit">Submit</button>
		</div>
	</form>
</div>
