<div class="w-full max-w-screen-xl min-h-screen px-2 mx-auto">
	<div
		class="grid grid-cols-1 gap-2 md:grid-cols-2 md:gap-3 lg:grid-cols-3 lg:gap-4 xl:grid-cols-4 xl:gap-5 w-full"
	>
		<app-payments [user]="user"></app-payments>
	</div>
	<div class="divider"></div>
	<div
		class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-2 md:gap-3 lg:gap-4 xl:gap-5 w-full"
	>
		<app-team-join-or-create></app-team-join-or-create>
	</div>
	<div class="mt-8">
		<h2 class="text-2xl font-bold divider mb-12">All Events</h2>
		<app-events-carousel type="grid"></app-events-carousel>
	</div>
</div>
