<div class="max-w-[296px] mx-auto">
	<picture
		class="inline-block min-h-[14rem] w-full bg-gray-100 overflow-hidden rounded-lg"
	>
		<img
			[alt]="event.name"
			class="w-full object-cover object-center rounded-lg shadow-md"
			[src]="event.image"
		/>
	</picture>

	<div class="relative px-4 -mt-16 prose">
		<div class="relative bg-white p-4 rounded-lg shadow-lg min-h-[21.25rem]">
			<h4 class="mt-1 text-xl font-semibold uppercase leading-tight truncate">
				{{ event.name }}
			</h4>

			<div class="mt-2 flex gap-x-2 md:gap-x-3 lg:gap-x-4 gap-y-2 flex-wrap">
				<div
					class="badge badge-primary badge-sm md:badge-md uppercase rounded-full"
				>
					{{ event.eventType }}
				</div>
				<div class="flex text-sm gap-1">
					<fa-icon class="text-primary" [icon]="faCalendar"></fa-icon>
					{{ event.commencementDate | date : 'dd' | dateSuffix }}
					{{ event.commencementDate | date : 'MMMM yyyy' }}
				</div>
			</div>
			<div
				class="mt-4 text-sm max-h-[6rem] overflow-y-auto description break-word"
			>
				<ng-container [ngSwitch]="readMore">
					<ng-container *ngSwitchCase="true">
						{{ event.description }}
					</ng-container>
					<ng-container *ngSwitchDefault>
						{{ event.description?.slice(0, 150) }}
					</ng-container>
				</ng-container>
				<ng-container *ngIf="(event.description?.length || 0) > 150">
					<a
						(click)="toggleReadMore()"
						class="text-primary cursor-pointer no-underline hover:underline hover:underline-offset-1"
						>Read {{ readMore ? 'less' : 'more...' }}</a
					>
				</ng-container>
			</div>

			<div
				class="mt-4 flex gap-1 text-sm flex-wrap items-baseline"
				*ngIf="event.registrationClosesOn"
			>
				Registration closes on:
				<span class="text-gray-600 font-semibold">{{
					event.registrationClosesOn | date : 'dd MMMM yyyy'
				}}</span>
			</div>
			<div
				class="mt-1 flex gap-1 text-sm flex-wrap items-baseline"
				*ngIf="event.prizePool"
			>
				Pool Prize:
				<span class="text-gray-600 font-semibold">{{
					event.prizePool | currency : 'INR' : 'symbol' : '1.0-0'
				}}</span>
			</div>
			<div
				class="mt-1 flex gap-1 text-sm flex-wrap items-baseline"
				*ngIf="event.hasGiftPrize"
			>
				Prize:
				<span class="text-gray-600 font-semibold">Gift Hamper</span>
			</div>
			<div class="mt-4 flex gap-3 flex-wrap items-baseline text-sm">
				<div class="flex gap-2 items-center">
					<fa-icon class="text-primary" [icon]="faLocation"></fa-icon>
					<span class="flex text-sm text-gray-600 capitalize">
						{{ event.venue }}
					</span>
				</div>
				<!-- <div
					*ngIf="event.eventBatch"
					class="badge badge-primary badge-sm uppercase rounded-full"
				>
					Batch {{ event.eventBatch }}
				</div> -->
			</div>
			<div class="absolute bottom-3.5 left-3 right-3">
				<div class="divider"></div>
				<div class="flex flex-wrap items-baseline gap-2">
					<a
						[href]="event.moreInformationPdf"
						target="_blank"
						class="btn btn-outline btn-error btn-sm gap-1"
					>
						<fa-icon [icon]="faFilePdf"></fa-icon> View
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
