<div class="max-w-screen-2xl w-full mx-auto">
	<div class="overflow-x-auto w-full">
		<table class="table w-full">
			<!-- head -->
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Payment Made</th>
					<th>Payment Status</th>
					<th>Payment ScreenShot</th>
					<th>Transaction Id</th>
					<th>Role</th>
					<th>Account Suspended</th>
					<th>Account Blocked</th>
				</tr>
			</thead>
			<tbody>
				<!-- row 1 -->
				<tr>
					<td>
						<div class="flex items-center space-x-3">
							<div>
								<div class="font-bold">Hart Hagerty</div>
								<div class="text-sm opacity-50">United States</div>
							</div>
						</div>
					</td>
					<td>
						Zemlak, Daniel and Leannon
						<br />
						<span class="badge badge-ghost badge-sm"
							>Desktop Support Technician</span
						>
					</td>
					<td>Purple</td>
					<th>
						<button class="btn btn-ghost btn-xs">details</button>
					</th>
				</tr>
			</tbody>
			<!-- foot -->
			<tfoot>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Phone Number</th>
					<th>Payment Made</th>
					<th>Payment Status</th>
					<th>Payment ScreenShot</th>
					<th>Transaction Id</th>
					<th>Role</th>
					<th>Account Suspended</th>
					<th>Account Blocked</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
