<div
	class="flex flex-col-reverse justify-center items-center w-full h-full mt-16 lg:grid lg:grid-cols-2 mx-auto max-w-screen-xl"
	id="about"
>
	<div class="flex flex-col justify-center items-center">
		<div
			class="about-ipsum mt-16 flex flex-col items-center justify-center prose text-center"
		>
			<h2
				class="gradient-text text-4xl md:text-5xl font-arvo font-bold break-words mb-0 mx-auto"
			>
				{{ data.title }}
			</h2>
			<p
				class="mt-0 font-arvo tracking-[0.2rem] lg:tracking-[0.4rem] break-words"
			>
				{{ data.subtitle }}
			</p>
			<p>{{ data.description }}</p>
		</div>
		<div class="mt-8 flex items-center">
			<a
				[href]="registrationLink"
				target="_blank"
				class="btn bg-redish-gradient btn-lg"
				>Register</a
			>
		</div>
	</div>
	<div class="youtube-video w-full px-2 mt-10">
		<div
			class="max-w-screen-md w-full flex justify-center items-center mx-auto relative max-h-[35rem]"
		>
			<img src="/assets/images/thumbnail.webp" class="mx-auto object-cover" />
			<!-- <button
				class="border-0 w-16 h-16 bg-white text-secondary rounded-full flex items-center justify-center absolute shadow-md text-xl"
				(click)="modalOpen = true"
			>
				<fa-icon [icon]="faPlay"></fa-icon>
			</button> -->
		</div>
	</div>
</div>

<div
	class="modal modal-open cursor-pointer"
	(click)="modalOpen = false"
	*ngIf="modalOpen"
>
	<div class="modal-box p-0 max-w-screen-sm">
		<iframe
			width="640"
			height="360"
			class="max-w-full"
			src="https://www.youtube.com/embed/60ItHLz5WEA"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			allowfullscreen
		></iframe>
	</div>
</div>
