<div
	class="flex flex-col justify-center items-center w-full h-full mt-16 mx-auto max-w-screen-xl"
	id="about"
>
	<!-- <div class="youtube-video w-full px-2 mt-10">
		<div
			class="max-w-screen-md w-full flex justify-center items-center mx-auto relative"
		>
			<img src="/assets/images/college.png" class="mx-auto object-cover" />
		</div>
	</div> -->
	<div class="flex flex-col justify-center items-center">
		<div
			class="about-ipsum mt-16 flex flex-col items-center justify-center prose text-center"
		>
			<h2
				class="gradient-text text-4xl md:text-5xl font-arvo font-bold break-words mx-auto"
			>
				About MIT
			</h2>
			<!-- <p
				class="mt-0 font-arvo tracking-[0.2rem] lg:tracking-[0.4rem] break-words"
			>
				{{ data.subtitle }}
			</p> -->
			<p>
				Located on the banks of the holy river Indrayani, MAEERS’ MIT Arts,
				Commerce & Science College, Alandi (D) is a premier Arts, Commerce &
				Science institute accredited by NAAC with an ‘A’ grade and is dedicated
				to providing education through dedication and commitment!, The college
				has earned an excellent reputation as a leader and pioneer in spreading
				education to a wide community with its rich academic and cultural
				heritage which contributes to developing noble citizens in society. It
				is committed to engaging students, staff, alumni, and other stakeholders
				collectively to achieve educational goals. The college has received
				various prestigious awards, prizes, and honors for its magnificent
				contribution to imparting knowledge, inculcating life skills, developing
				research skills, and providing the best placements.
			</p>
		</div>
	</div>
</div>
