<div
	class="flex flex-col justify-center items-center w-full h-full mt-16 mx-auto max-w-screen-xl"
	id="about"
>
	<!-- <div class="youtube-video w-full px-2 mt-10">
		<div
			class="max-w-screen-md w-full flex justify-center items-center mx-auto relative"
		>
			<img src="/assets/images/college.png" class="mx-auto object-cover" />
		</div>
	</div> -->
	<div class="flex flex-col justify-center items-center">
		<div
			class="about-ipsum mt-16 flex flex-col items-center justify-center prose text-center"
		>
			<h2
				class="gradient-text text-4xl md:text-5xl font-arvo font-bold break-words mx-auto"
			>
				About MIT
			</h2>
			<!-- <p
				class="mt-0 font-arvo tracking-[0.2rem] lg:tracking-[0.4rem] break-words"
			>
				{{ data.subtitle }}
			</p> -->
			<p>
				MIT Arts, Commerce and Science College is a college in Pune founded by
				Prof. (Dr.) Vishwanath Karad in 2007 under MAEER group. It has a
				peaceful location, excellent faculty, world-class infrastructure and
				library facilities. It offers various undergraduate and postgraduate
				programs in arts, commerce and science. It is known for its excellence
				in education and research and its contribution to society.
			</p>
		</div>
	</div>
</div>
