/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}
div::-webkit-scrollbar {
	width: 0px;
}

.glass {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	background-color: hsla(var(--b1), 5%);
}
