<div class="max-w-screen-xl mx-auto my-16" id="sponsors">
	<h1
		class="text-4xl md:text-5xl gradient-text font-arvo font-bold text-center"
	>
		Event Sponsors
	</h1>
	<p
		class="mt-0 font-arvo tracking-[0.2rem] lg:tracking-[0.4rem] break-words text-center"
	>
		Know who made this event possible.
	</p>
	<div class="my-14 flex items-center justify-center flex-col">
		<span
			class="font-arvo tracking-[0.2rem] lg:tracking-[0.3rem] font-bold text-lg break-words mb-3"
			>Sponsors</span
		>
		<div
			class="carousel overflow-x-auto font-arvo font-bold text-xl md:text-2xl gap-x-8 md:gap-x-16 justify-center mx-auto"
		>
			<ng-container
				*ngFor="let sponsor of sponsors.associateSponsors; let index = index"
			>
				<div
					class="carousel-item flex-col text-gray-600 justify-end items-baseline mx-auto max-w-full"
					[ngClass]="{}"
				>
					<ng-container *ngIf="sponsor.image !== null">
						<div class="flex flex-col justify-end items-center">
							<img
								[src]="sponsor.image"
								[alt]="sponsor.name"
								class="max-w-[5rem]"
								[ngClass]="{
									'max-w-[10rem]': sponsor.titleSponsorer,
									'max-w-[7.5rem]': sponsor.enlargeLogo
								}"
							/>
							<div
								class="font-arvo tracking-[0.1rem] font-bold text-base break-words mb-3"
								[ngClass]="{
									'font-semibold': !sponsor.titleSponsorer
								}"
							>
								{{ sponsor.titleSponsorer ? 'Title Sponsor' : 'Co Sponsor' }}
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="sponsor.image === null">
						{{ sponsor.name }}
					</ng-container>
				</div>
			</ng-container>
		</div>
	</div>
	<div class="my-14 flex items-center justify-center flex-col">
		<span
			class="font-arvo tracking-[0.2rem] lg:tracking-[0.3rem] font-bold text-lg break-words mb-3"
			>Printing Partner</span
		>
		<img
			src="/assets/images/printing-partner.webp"
			alt="Printing Partner"
			class="max-w-[8rem]"
		/>
	</div>
</div>
