<app-spinner *ngIf="loaderForSpinner"></app-spinner>
<div
	[ngClass]="{
		'carousel carousel-end rounded-box p-4 space-x-4 w-full':
			type === 'carousel',
		'grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5': type === 'grid'
	}"
	infiniteScroll
	[infiniteScrollDistance]="2"
	[infiniteScrollThrottle]="50"
	[horizontal]="type === 'carousel'"
	(scrolled)="getEvents()"
	[scrollWindow]="false"
>
	<div
		*ngIf="!events.length && !requestInProgress"
		class="col-span-1 md:col-span-2 lg:col-span-3 xl:col-span-5 flex flex-col items-center justify-center w-full"
	>
		<img src="/assets/svg/joyride.svg" class="max-w-[15rem] mx-auto" />
		<div class="text-2xl">No event found!</div>
	</div>
	<div
		*ngFor="let event of events; let index = index; trackBy: trackById"
		class="carousel-item flex max-w-full"
	>
		<app-event-card
			[event]="event"
			[user]="$any(user$ | async)"
			[team]="team$ | async"
			[index]="index"
			(onDelete)="deleteEvent($event)"
			(onParticipate)="captureEmitOnParticipate($event)"
		></app-event-card>
	</div>

	<div
		*ngIf="requestInProgress && !loadedAllData"
		class="flex justify-center items-center w-full bg-gray-100 rounded-lg h-full"
	>
		<span class="inline-block animate-spin">
			<fa-icon [icon]="faSpinner"></fa-icon>
		</span>
	</div>
	<div
		*ngIf="!loadedAllData && !requestInProgress && type === 'grid'"
		class="flex justify-center items-center"
	>
		<button
			class="btn btn-primary btn-outline btn-sm"
			(click)="getEvents()"
			[disabled]="loadedAllData || requestInProgress"
		>
			Load more
		</button>
	</div>
</div>

<app-ask-confirmation
	[showConfirmation]="showDeleteConfirmation"
	(confirmationByUser)="deleteEventAfterEmit($event)"
	[title]="
		'Delete ' +
		(deleteEventIndex !== undefined || deleteEventIndex !== null
			? $any(events[$any(deleteEventIndex)])?.name
			: '') +
		'?'
	"
	[btnActionType]="'error'"
></app-ask-confirmation>

<app-event-participate
	*ngIf="participateInEvent"
	[event]="participateInEvent"
	(onClose)="captureEmitOnParticipate(undefined)"
></app-event-participate>
